*.csv filter=lfs diff=lfs merge=lfs -text
**/*.csv filter=lfs diff=lfs merge=lfs -text
**/*.parquet filter=lfs diff=lfs merge=lfs -text
**/histogram* filter=lfs diff=lfs merge=lfs -text
**/*csv filter=lfs diff=lfs merge=lfs -text
**/*h5 filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/merged-data/data.parquet filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/priority-85/workload.h5 filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/priority-90/no-workload.h5 filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/priority-95/no-workload.h5 filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/priority-80/no-workload.h5 filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/priority-85/no-workload.h5 filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/priority-95/workload.h5 filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/priority-99/no-workload.h5 filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/priority-99/workload.h5 filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/priority-80/workload.h5 filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/priority-90/workload.h5 filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-tests/rt_migrate/timings_prio_99.csv filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-tests/rt_migrate/plot_99.gnuplot filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-tests/rt_migrate/timings_prio_80.csv filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-tests/rt_migrate/timings_prio_90.csv filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-tests/rt_migrate/plot_95.gnuplot filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-tests/rt_migrate/timings_prio_85.csv filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-tests/rt_migrate/timings_prio_95.csv filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-tests/rt_migrate/plot_80.gnuplot filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-tests/rt_migrate/plot_85.gnuplot filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-tests/rt_migrate/plot_90.gnuplot filter=lfs diff=lfs merge=lfs -text
neuron-circuits/rtxi/v_hr-v_hr/neuron_1.txt filter=lfs diff=lfs merge=lfs -text
neuron-circuits/rtxi/v_hr-v_hr/neuron_2.txt filter=lfs diff=lfs merge=lfs -text
neuron-circuits/rtxi/v_hr-v_hr/antiphase-syn.h5 filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
