*.csv filter=lfs diff=lfs merge=lfs -text
**/*.csv filter=lfs diff=lfs merge=lfs -text
**/*.parquet filter=lfs diff=lfs merge=lfs -text
**/histogram* filter=lfs diff=lfs merge=lfs -text
**/*csv filter=lfs diff=lfs merge=lfs -text
**/*h5 filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/merged-data/data.parquet filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/priority-85/workload.h5 filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/priority-90/no-workload.h5 filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/priority-95/no-workload.h5 filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/priority-80/no-workload.h5 filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/priority-85/no-workload.h5 filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/priority-95/workload.h5 filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/priority-99/no-workload.h5 filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/priority-99/workload.h5 filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/priority-80/workload.h5 filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/priority-90/workload.h5 filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-tests/rt_migrate/timings_prio_99.csv filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-tests/rt_migrate/plot_99.gnuplot filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-tests/rt_migrate/timings_prio_80.csv filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-tests/rt_migrate/timings_prio_90.csv filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-tests/rt_migrate/plot_95.gnuplot filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-tests/rt_migrate/timings_prio_85.csv filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-tests/rt_migrate/timings_prio_95.csv filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-tests/rt_migrate/plot_80.gnuplot filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-tests/rt_migrate/plot_85.gnuplot filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-tests/rt_migrate/plot_90.gnuplot filter=lfs diff=lfs merge=lfs -text
neuron-circuits/rtxi/v_hr-v_hr/neuron_1.txt filter=lfs diff=lfs merge=lfs -text
neuron-circuits/rtxi/v_hr-v_hr/neuron_2.txt filter=lfs diff=lfs merge=lfs -text
neuron-circuits/rtxi/v_hr-v_hr/antiphase-syn.h5 filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/graphs/duration_exceeds_100.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/graphs/jitter-stress.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/graphs/latency-stress.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/graphs/priority-90-stress.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/graphs/priority-95.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/graphs/time_step-no-stress.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/graphs/duration-no-stress.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/graphs/priority-90.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/graphs/priority-95-no-stress.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/graphs/jitter.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/graphs/time_step.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/graphs/priority-80-stress.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/graphs/priority-99.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/graphs/jitter_exceeds_2.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/graphs/latency.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/graphs/time_step-stress.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/graphs/jitter-no-stress.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/graphs/priority-90-no-stress.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/graphs/time_step_exceeds_100.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/graphs/duration.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/graphs/priority-80-no-stress.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/graphs/priority-85.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/graphs/priority-85-stress.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/graphs/duration-stress.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/graphs/latency_exceeds_100.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/graphs/latency-no-stress.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/graphs/priority-80.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/graphs/priority-85-no-stress.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks/graphs/priority-95-stress.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-tests/graphs/rt_migrate_plot_prio_99.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-tests/graphs/cyclictest.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-tests/graphs/rt_migrate_plot.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-tests/graphs/rt_migrate_plot_prio_80.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-tests/graphs/rt_migrate_plot_prio_85.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-tests/graphs/rt_migrate_plot_prio_90.png filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-tests/graphs/rt_migrate_plot_prio_95.png filter=lfs diff=lfs merge=lfs -text
neuron-circuits/rtxi filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-benchmarks filter=lfs diff=lfs merge=lfs -text
performance-tests/rt-tests filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
